.advisors {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__item {
		position: relative;
		width: calc(50% - 25px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: 22px;
		padding: 25px;
		background-color: $col-blueL;
		margin-bottom: 56px;
		z-index: 0;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -10px;
			height: 10px;
			width: 80%;
			background-image: $col-gradient;
			z-index: -1;
			border-radius: 22px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&__top {
			display: flex;

			&-img {
				width: 140px;
				height: 140px;
				margin-right: 14px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					border-radius: 100px;
				}
			}

			&__info {
				.subtitle {
					margin-bottom: 4px;
				}

				.text {
					font-size: 20px;
				}

			}
		}

		&__text {
			padding-top: 14px;

		}

	}

	&-title {
		margin-bottom: 36px;

	}

	&--wrap {
		padding-top: 70px;
	}

}
