.challenge {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	&--wrap {
		padding-top: 70px;
		padding-bottom: 90px;
	}

	&__text {
		width: 50%;
		padding-right: 30px;

		p {
			margin-bottom: 6px;
			&:nth-child(2) {
				animation-delay: .6s;
			}
			&:nth-child(3) {
				animation-delay: .9s;
			}
			&:nth-child(4) {
				animation-delay: 1.1s;
			}
		}
	}

	&__img {
		width: 50%;
		animation-delay: .6s;

		img {
			width: 100%;
		}

	}

}
