body {
	background: $col-blueB;
	font-family: $ff-GothamPro, sans-serif;
	overflow-x: hidden;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.wrapper {
	width: 100%;
	max-width: 1170px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	display: inline-block;
	position: relative;
	line-height: 50px;
	padding: 0 45px;
	background-image: $col-gradient;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px;
	color: $col-head;
	z-index: 0;
	cursor: pointer;

	&:hover {
		&:after {
			opacity: 1;
		}
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background-image: $col-gradientRevers;
		transition: opacity .4s ease-in;
		opacity: 0;
		z-index: -1;
	}
}

.title {
	width: 100%;
	text-align: center;
	margin-bottom: 26px;
	font-size: 40px;
	line-height: 44px;
	font-weight: 400;
	color: #8486a6;
}

.subtitle {
	font-size: 30px;
	line-height: 33px;
	font-weight: 400;
	color: #8486a6;
}

.text {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: $col-text;
}

.mainlabel {
	position: relative;

	input {
		width: 100%;
		line-height: 60px;
		padding-left: 30px;
		font-size: 18px;
		color: $col-text;
		background-color: $col-blueL;
		border: none;
		border-radius: 100px;

		&:active + span,
		&:hover + span {
			transform: translateY(-20px);
			opacity: 0;
		}
	}

	input[type="number"]::-webkit-outer-spin-button, 	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}

	span {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 30px;
		font-size: 18px;
		color: $col-text;
		transition: all .5s;
		pointer-events: none;

		&.active {
			transform: translateY(-20px);
			opacity: 0;
		}
	}
}

.sudsvg {
	width: 100%;
	fill: $col-blueL;
	background-color: $col-blueB;
}


.text-center {
	text-align: center;
}

.scrollBtn {
	display: inline-block;
	width: 70px;
	height: 70px;
	color: $col-text;
	position: relative;
	transform: rotate(-90deg);
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;


	&:after {
		content: '\2039';
		position: absolute;
		top: 31.5px;
		left: 50%;
		font-size: 42px;
		line-height: 0;
		animation: toBottom 1.2s ease-in-out infinite;
	}

}
.js-animated {
	visibility: hidden;
}

.animate {
	animation-fill-mode: both;
	animation-duration: 1.3s;
	animation-name: fadeInUp;
	visibility: visible;
}

.toTop {
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 55px;
	height: 55px;
	border-radius: 100px;
	border: 2px solid $col-blueM;
	z-index: 10;
	transition: all .3s;
	opacity: 0;
	transform: translateY(20px);
	background-color: $col-blueB;

	@media (min-width: 768px) {
		&:hover {
			&:after {
				color: white;;
			}
			&:before {
				transform: scale(1);
			}
		}
	}

	&:after {
		content: '\2039';
		position: absolute;
		top: 27px;
		left: 40%;
		font-size: 42px;
		line-height: 0;
		color: $col-blueM;
		transform: rotate(90deg);
		transition: inherit;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background-image: $col-gradient;
		transform: scale(0);
		transition: inherit;
		z-index: -1;
	}

	&.active {
		opacity: 1;
		transform: translateY(0);
	}
}

.no-scroll {
	overflow: hidden;
	height: 100%;
	position: fixed;
	body {
		overflow: hidden;
		height: 100%;
		position: fixed;
	}
}

.successfully {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba($col-blueL, .8);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	z-index: 30;

	button {
		border: none;
		line-height: 40px;
		text-transform: capitalize;
	}

	.text {
		padding: 5px 0 20px;
	}
}

.fade-enter-active {
	transition: all .3s ease;
}
.fade-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter, .fade-leave-to {
	transform: translateX(-10px);
	opacity: 0;
}
@keyframes toBottom {
	0% {
		transform: translateX(-50%);
		box-shadow: 50px 0 0 $col-text;
	}
	20% {
		transform: translateX(0);
		box-shadow: 10px 0 0 $col-text;
	}
	40% {
		transform: translateX(0);
		box-shadow: 10px 0 0 $col-text;
	}
	60% {
		transform: translateX(0);
		box-shadow: 0 0 0 $col-text;
	}
	100% {
		transform: translateX(-100px);
		text-shadow: -50px 0 0 $col-text;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
