.feedback {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row-reverse;

	&-title {
		margin-top: 70px;
		margin-bottom: 50px;
	}

	&__item {
		width: 100%;
		position: relative;
		text-align: center;
		font-size: 24px;
		color: white;
		padding: 25px;
		border-radius: 22px;
		cursor: pointer;
		z-index: 0;
		transition: all .5s;
		transform: translateY(10px);

		&:hover {
			transform: translateY(0);

			&:after {
				transform: translate(-50%, -50%);
			}
		}

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, calc(-50% - 10px));
			width: 90%;
			height: calc(100% + 20px);
			border-radius: inherit;
			background-image: $col-gradient;
			z-index: -2;
			transition: inherit;
		}


		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $col-blueL;
			border-radius: inherit;
			z-index: -1;
		}

		&:first-child {
			margin-bottom: 50px;
		}

		&--wrap {
			width: calc(50% - 25px);
			display: flex;
			flex-direction: column;
			padding-top: 20px;
			margin-bottom: 40px;
		}

	}

	&__form {
		width: calc(50% - 25px);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		transition: all .7s cubic-bezier(.79,.14,.15,.86);

		&.hide {
			transform: scale(0);
		}

		&-title {
			display: none;
			margin-top: 10px;
			margin-bottom: 26px;
			margin-left: auto;
			margin-right: auto;
		}

		label {
			width: 100%;
			margin-bottom: 21px;
		}
		button {
			border: none;
		}
	}

	&--wrap {
		padding-bottom: 70px;
		.sudsvg {
			background-color: $col-blueL;
			fill: $col-blueB;
		}
	}

}
