@mixin fontface($name, $file, $weight, $style){
	@font-face {
		font-family: "#{$name}";
		font-weight: $weight;
		font-style: $style;
		src: url('./fonts/#{$file}.eot');
		src: url('./fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
		url('./fonts/#{$file}.woff2') format('woff2'),
		url('./fonts/#{$file}.woff') format('woff'),
		url('./fonts/#{$file}.ttf') format('truetype'),
		url('./fonts/#{$file}.svg?##{$name}') format('svg');
	}
}

@include fontface(GothamPro,GothamPro,400,normal)
@include fontface(GothamPro,GothamPro-Bold,700,normal)

