.founder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media screen  and (max-width: 768px){
		flex-direction: column;

		& > .founder__author {
			display: none;
		}
	}

	&-link {
		margin: 40px auto 0;
	}

	&--wrap {
		padding-top: 70px;
		padding-bottom: 90px;
		position: relative;
		z-index: 0;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: rgba($col-blueB, .8);
		}

		@media screen and (max-width: 768px) {
			padding-bottom: 30px;
		}
	}

	&__question {
		width: 100%;
		padding: 10px 15px 60px;

		.subtitle {
			padding-bottom: 20px;
		}

		.feedback__form {
			max-width: 650px;
		}
	}

	&__author {
		max-width: 340px;
		margin-top: 70px;
		@media screen  and (max-width: 768px){
			max-width: 300px;
			margin: 0 auto;
		}

		img {
			width: 100%;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		width: calc(100% - 365px);

		& > .founder__author {
			display: none;
		}



		@media screen  and (max-width: 768px){
			width: 100%;

			& > .founder__author {
				display: block;

				img {
					max-height: 400px;
					object-fit: cover;
					object-position: top;
					padding: 0 0 15px;
				}
			}
		}

	}

	&-text {
		margin-bottom: 12px;
	}
}
#main {
	& > .founder__question {
		//display: none;

		@media screen  and (max-width: 768px) {
			display: block;
			padding-bottom: 40px;
			padding-top: 0;
		}
	}
}
