.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&--wrap {
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 100vh;
		position: relative;
	}

	&__logo {
		font-size: 50px;
		font-weight: 400;
		color: #69C3E7;
		text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.25);

	}

	&__nav {
		padding: 17px 0;

		ul {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			a {
				margin-right: 25px;
				font-size: 14px;
				color: $col-head;
				text-transform: uppercase;
				font-weight: 400;
				position: relative;
				z-index: 0;

				&:hover {
					&:after {
						transform: translateY(-50%) scaleX(1);
					}
				}

				&:after {
					content: '';
					position: absolute;
					width: 120%;
					left: -10%;
					height: 220%;
					border-radius: 5px;
					transform: translateY(-50%) scaleX(0);
					transform-origin: left;
					top: 50%;
					background-image: $col-gradient;
					z-index: -1;
					transition: all .3s;
				}
			}

			.sudsvg {
				display: none;
			}

		}
	}

	&__burger {
		display: none;
		width: 40px;
		height: 30px;
		z-index: 2;
		position: relative;
		cursor: pointer;
		background-color: transparent;
		border: none;

		span {
			display: block;
			position: absolute;
			left: 0;
			width: 40px;
			height: 6px;
			transform-origin: 50% 50%;
			background-color: white;
			pointer-events: none;
			transition: transform .4s ease-out;
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 12px;
				opacity: 1;
				transition: transform .4s ease-out, opacity 0ms linear 200ms;
			}
			&:nth-child(3) {
				top: 24px;
			}
		}

		&.active {
			span {
				background-color: white;
			}
			span {
				&:nth-child(1) {
					animation: burgTopActive .4s ease-out forwards;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					animation: burgBotActive .4s ease-out forwards;
				}
			}
		}
		&.close {
			span {
				&:nth-child(1) {
					animation: burgTopClose .4s ease-out forwards;
				}

				&:nth-child(3) {
					animation: burgBotClose .4s ease-out forwards;
				}
			}
		}
	}

	//

	&__content {
		padding-top: 130px;
		padding-bottom: 100px;
		text-align: center;

		&-title {
			font-size: 60px;
			padding-bottom: 25px;
			font-weight: 700;
			color: #8486a6;
			text-shadow: 3px 3px 3px rgba(255,255,255,0.1);
		}

		&-text {
			font-size: 24px;
			color: white;
			line-height: 29px;
			max-width: 600px;
			margin: 0 auto;
			animation-delay: 1s;
		}

		&-scroll {
			margin-top: 100px;
		}

	}

}

@keyframes burgTopActive {
	50% {
		transform: translate3d(0, 12px, 0);
	}
	100% {
		transform: translate3d(0, 12px, 0) rotate(45deg);
	}
}

@keyframes burgBotActive {
	50% {
		transform: translate3d(0, -12px, 0);
	}
	100% {
		transform: translate3d(0, -12px, 0) rotate(-45deg);
	}
}

@keyframes burgTopClose {
	0% {
		transform: translate3d(0, 12px, 0) rotate(45deg);
	}
	50% {
		transform: translate3d(0, 12px, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes burgBotClose {
	0% {
		transform: translate3d(0, -12px, 0) rotate(-45deg);
	}
	50% {
		transform: translate3d(0, -12px, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
