@media screen and (max-width: 768px){
	.header {
		&__nav {
			position: absolute;
			top: 90px;
			right: 0;
			z-index: 20;
			width: 100%;
			height: calc(100vh - 90px);
			overflow-y: auto;
			background-color: $col-blueB;
			transform: scale(0);
			transform-origin: top right;
			transition: all .5s ease-in-out;
			border-bottom-left-radius: 3000px;

			&.active {
				transform: scale(1);
				border-bottom-left-radius: 0;
			}

			ul {
				flex-direction: column;
				padding-top: 40px;

				li {
					margin-bottom: 15px;
				}
				a {
					font-size: 18px;
					line-height: 40px;
					margin-right: 0;
				}

				.sudsvg {
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					z-index: 3;
				}
			}
		}
		&__burger {
			display: block;
		}

	}

	.feedback {
		&__item {
			&--wrap {
				width: 100%;
			}
		}
		&__form {
			width: 100%;
			&-title {
				display: block;
			}
		}
	}

	.advisors {
		&__item {
			width: 100%;
		}
	}
}

@media screen and (max-width: 680px){
	.challenge {
		&__text {
			width: 100%;
			padding-right: 0;
			padding-bottom: 26px;
		}

		&__img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 525px) {
	.problem {

		&:after {
			left: 40px;
		}

		&__row {
			flex-direction: column-reverse;
			padding-left: 65px;
			align-items: center;

			&:before {
				left: 31px;
			}

			&:after {
				width: 50%;
			}

			&:nth-child(even) {
				flex-direction: column-reverse;

			}


			&__content {
				width: 100%;
				padding-top: 26px;
				padding-bottom: 40px;
			}

			&-img {
				width: 200px;
			}
		}

	}

	.solution {

		&__item {
			.text {
				max-width: 90%;
			}

			&:nth-child(odd) {
				padding-right: 100px;
			}
			&:nth-child(even) {
				padding-left: 100px;
			}
		}
	}

	.header {
		&__content {
			padding-top: 60px;

			&-scroll {
				margin-top: 40px;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.toTop {
		width: 40px;
		height: 40px;
		bottom: 20px;
		right: 20px;

		&:after {
			top: 18px;
			left: 34%;
		}
	}

	.title {
		font-size: 30px;
	}

	.subtitle {
		font-size: 24px;
	}

	.header {
		&__content {
			&-title {
				font-size: 38px;
				line-height: 43px;
			}

			&-text {
				font-size: 18px;
				line-height: 23px;
			}
		}
	}

	.challenge--wrap {
		padding-top: 0;
		padding-bottom: 40px;
	}

	.problem {
		padding-bottom: 0;

		&-title {
			margin-top: 30px;
		}

		&--wrap {
			padding-bottom: 40px;
		}
	}

	.solution {
		&__head {
			padding-top: 0;
		}
	}

	.feedback {
		&-title {
			margin-top: 30px;
		}

		&__item {
			padding: 25px 10px;
			font-size: 16px;
		}

		&__form {
			&-title {
				margin-bottom: 14px;
			}
		}
	}

	.founder {
		&-title {
			margin-bottom: 16px;
		}

		&-link {
			margin-top: 7px;
		}
	}

	.advisors {
		&--wrap {
			padding-top: 0;
		}
		&__item {
			&__top {
				flex-direction: column;
				align-items: center;
				width: 100%;

				&-img {
					margin-right: 0;
					margin-bottom: 14px;
				}

				&__info {
					text-align: center;
				}
			}
		}
	}
}
