.problem {
	padding-top: 70px;
	padding-bottom: 50px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: calc(50% - 1px);
		width: 2px;
		height: 100%;
		background-color: $col-blueM;
	}

	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		z-index: 0;
		padding-bottom: 30px;

		&:after {
			content: '';
			position: absolute;
			top: 40px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $col-blueM;
			z-index: -1;
		}

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 41px;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 30px;
			border-radius: 100px;
			background-color: $col-blueM;
			z-index: -1;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			figure {
				padding-left: 0;
			}
		}

		&__content {
			width: 42%;
			padding-top: 60px;
		}

		&-img {
			width: 33%;
			background-color: $col-blueL;

			img {
				width: 100%;
			}
		}

		figure {
			padding-left: 25px;
		}
	}


	&-title {
		margin-top: 70px;
		margin-bottom: 40px;
	}

	&--wrap {
		background-color: $col-blueL;
		padding-bottom: 90px;
	}



}
