.solution {

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 50px;
		padding-bottom: 75px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			right: 44px;
			bottom: 0;
			height: 75px;
			width: 2px;
			background-color: $col-blueM;
		}

		.title {
			text-align: left;
		}

		.scrollBtn {
			border-radius: 100px;
			border: 2px solid $col-blueM;
			min-width: 70px;

			@media (min-height: 768px) {
				&:hover {
					color: white;
					&:before {
						transform: scale(1);
					}
				}
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				background-image: $col-gradient;
				transform: scale(0);
				transition: all .3s;
				z-index: -1;
			}
		}
	}

	&__item {
		position: relative;
		padding-top: 40px;
		padding-bottom: 50px;

		&:after,
		&:before {
			content: '';
			position: absolute;
		}

		&:after {
			top: -2px;
			height: calc(100% + 2px);
			width: 14px;
			border-top: 2px solid $col-blueM;
			border-bottom: 2px solid $col-blueM;
		}

		&:before {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 116px);
			height: 2px;
			background-color: $col-blueM;
		}

		&:nth-child(odd) {
			padding-right: 120px;
			text-align: right;

			&:after {
				right: 44px;
				border-right: 2px solid $col-blueM;
				border-radius: 0 10px 10px 0;
			}

			.solution__item-icon {
				right: 10px;
			}

			.text {
				margin-left: auto;
			}
		}

		&:nth-child(even) {
			padding-left: 120px;
			text-align: left;

			&:after {
				left: 44px;
				border-left: 2px solid $col-blueM;
				border-radius: 10px 0 0 10px;
			}

			.text {
				margin-right: auto;
			}

			.solution__item-icon {
				left: 10px;
			}
		}

		&:first-child {
			&:after {
				border-top: none;
				border-radius: 0 0 10px 0;
			}
		}

		&:last-child {
			padding-bottom: 125px;
			&:after {
				border-bottom: none;
				border-radius: 10px 0 0 0;
			}

			&:before {
				display: none;
			}
		}

		.subtitle {
			padding-bottom: 26px;
		}

		.text {
			max-width: 50%;
		}

		&-icon {
			position: absolute;
			width: 70px;
			height: 70px;
			background-color: $col-blueL;
			border-radius: 100px;
			border: 2px solid $col-blueM;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;

			svg {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 60%;
				transform: translate(-50%, -50%);
				z-index: 2;
			}
		}

		&--wrap {
			background-color: $col-blueL;
			padding-bottom: 30px;
		}
	}

	&--wrap {
		padding-top: 70px;
	}

}
