.fillform {
	transition: all .7s cubic-bezier(.79,.14,.15,.86);

	&.hide {
		transform: scale(0);
	}

	&-group {
		max-width: 550px;
		margin: 0 auto;
	}

	&-buttons {
		display: flex;
		align-items: center;
		justify-content: space-around;
		max-width: 550px;
		margin: 0 auto;
		@media screen and (max-width: 375px){
			flex-direction: column;
		}
	}

	&-title {
		margin-bottom: 46px;
	}

	.text {
		font-size: 18px;
		color: white;
		padding-bottom: 9px;
		//text-align: center;
		padding-left: 30px;
	}

	input {
		margin-bottom: 21px;
	}

	textarea {
		width: 100%;
		padding-left: 30px;
		font-size: 18px;
		line-height: 23px;
		font-family: $ff-GothamPro;
		color: $col-text;
		background-color: $col-blueL;
		border: none;
		border-radius: 30px;
		margin-bottom: 26px;
		resize: none;
		padding-top: 14px;
	}

	button {
		border: none;
		margin: 0 auto;
		display: block;
		@media screen and (max-width: 375px){
			margin-bottom: 26px;
		}
	}

	&--wrap {
		min-height: 100vh;
		background-color: $col-blueB;
		padding-top: 40px;
		padding-bottom: 90px;
		position: relative;
		z-index: 0;

		.sudsvg {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
		}

	}
}
