<template>
  <div id="app" data-server-rendered="true">
    <transition-group name="fade" tag="div">
      <main-page
          v-if="$store.state.pageShow === 'main'"
          key="main"
      ></main-page>
      <repre-form
          v-else-if="$store.state.pageShow === 'repre'"
          key="repre"
      ></repre-form>
      <becom-form
          v-else-if="$store.state.pageShow === 'become'"
          key="become"
      >

      </becom-form>
    </transition-group>
    <transition>
      <succes v-if="$store.state.succShow"></succes>
    </transition>
  </div>
</template>

<script>
import mainPage from './components/main'
import succes from './components/successfully'
import repreForm from './components/repreForm'
import becomForm from './components/becomeForm'


export default {
  name: 'App',
  data() {
    return {}
  },
  components: {
    mainPage,
    succes,
    repreForm,
    becomForm

  },
  methods: {}
}
</script>
