$ff-GothamPro: "GothamPro";

$col-blueL: #10122D;
$col-blueB: #08091B;
$col-blueM: #5e619c;
$col-head: white;
$col-text: white;


$col-gradient: linear-gradient(to right, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
$col-gradientRevers: linear-gradient(to right, rgba(45,193,201,1) 0%, rgba(57,100,208,1) 100%);
