<template>
	<section id="advisors" class="advisors--wrap">
		<div class="advisors wrapper">
			<h6 class="advisors-title title js-animated">{{title}}</h6>
			<div
				class="advisors__item js-animated"
				v-for="item in advisors"
				:key="item.id"
			>
				<div class="advisors__item__top">
					<div class="advisors__item__top-img">
						<img
							alt=""
							:src="item.photo"
						>
					</div>
					<div class="advisors__item__top__info">
						<h5 class="advisors__item__top__info-name subtitle">{{item.name}}</h5>
						<div class="advisors__item__top__info-position text">{{item.position}}</div>
					</div>
				</div>
				<div class="advisors__item__text">
					<p class="text">{{item.info}}</p>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		data() {
			return {
				title: 'Advisors',
				advisors: [
					{
						id: '1',
						name: 'John Doe',
						position: 'Head',
						info: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
						photo: require('../img/face.jpg')
					},
					{
						id: '2',
						name: 'John Doe',
						position: 'Deputy',
						info: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
						photo: require('../img/face.jpg')
					},
					{
						id: '3',
						name: 'John Doe',
						position: 'Cleaner',
						info: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
						photo: require('../img/face.jpg')
					}
				]
			}
		}
	}
</script>
