<template>
	<section id="fillform" class="fillform--wrap">
		<h6 class="fillform-title title">{{title}}</h6>
		<form
				class="fillform wrapper"
				@submit.prevent="$store.dispatch('sendForm','become')"
		>
			<div
					class="fillform-group mainlabel"
					v-for="item in inputs"
			>
				<h4 class="text">{{item.palaceholder}}</h4>
				<input
						v-bind:type="item.type"
						:key="item.id"
						v-bind:name="item.name"
						required
						autocomplete="off"
						v-bind:pattern="item.pattern"
				>
			</div>
			<div class="fillform-group">
				<h4 class="text">{{area.paleceholder}}</h4>
				<textarea
						v-bind:name="area.name"
						required
						rows="7"
				></textarea>
			</div>
			<div class="fillform-buttons">
				<button class="button">Submit</button>
				<button
						class="button"
						@click.prevent="$store.commit('showPage', 'main')"
				>Go Back</button>
			</div>

		</form>

		<sud-svg></sud-svg>
	</section>
</template>

<script>
	import sudSvg from './svg'

	export default {
		data() {
			return {
				el: '#fillform',
				title: 'Become Ambassador name',
				inputs: [
					{
						id: '2',
						palaceholder: 'City:',
						type: 'text',
						name: 'BecomeCity',
					},
					{
						id: '3',
						palaceholder: 'Phone:',
						type: 'number',
						name: 'BecomeTel',
					},
					{
						id: '4',
						palaceholder: 'Email:',
						type: 'email',
						name: 'BecomeEmail',
						pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,5}$'
					},
					{
						id: '5',
						palaceholder: 'Social media:',
						type: 'text',
						name: 'BecomeMedia'
					}
				],
				area: {
					paleceholder: 'Short bio:',
					name: 'BecomeStory'
				}

			}
		},
		components: {
			sudSvg
		},
		mounted() {
			setTimeout(function () {
				scrollTo(0,0)
			}, 821)
		}

	}
</script>
