<template>
	<section id="challenge" class="challenge--wrap">
		<div class="challenge wrapper">
			<h6 class="challenge-title title js-animated">{{title}}</h6>
			<div class="challenge__text">
				<p
					v-for="item in text"
					:key="item.id"
					class="text js-animated"
				>{{item.paragraph}}</p>
			</div>
			<div class="challenge__img  js-animated">
				<img src="../img/about.png" alt="">
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		data() {
			return {
				title: 'Challenge',
				text: [
					{
						id: '1',
						paragraph: 'Most crypto projects put there effort on online presence but ignore personal interaction with audience.'
					},
					{
						id: '2',
						paragraph: 'While we live in social media era, there is still basic human need to be connected and be able to communicate to real personal.'
					},
					{
						id: '3',
						paragraph: 'People like to be able to get together, ask questions, and be able to interact to make an informed decision.'
					},
					{
						id: '4',
						paragraph: 'It translates to feeling of security and empathy which creates loyalty to brand.'
					}
				]

			}
		}
	}
</script>
