<template>
	<section id="feedback" class="feedback--wrap">
		<sud-svg></sud-svg>
		<div class="feedback wrapper">
			<div class="feedback-title title js-animated">{{title}}</div>
			<div class="feedback__item--wrap">
				<div
					class="feedback__item js-animated"
					v-for="item in formItems"
					:key="item.id"
					@click="$store.commit('showPage', item.param)"
				>
					{{item.text}}
				</div>
			</div>
			<div class="feedback__form-title subtitle js-animated">{{subtitle}}</div>
			<form
					class="feedback__form"
					@submit.prevent="$store.dispatch('sendForm','feedback')"
			>
				<label
						v-for="item in inputs"
						class="mainlabel js-animated"
				>
					<input
							@input="$store.dispatch('filledInput')"
							v-bind:type="item.type"
							:key="item.id"
							v-bind:name="item.name"
							required
							autocomplete="off"
							v-bind:pattern="item.pattern"
					>
					<span>{{item.palaceholder}}</span>
				</label>
				<button
						class="button js-animated"
						type="submit"
				>Send</button>
			</form>
		</div>
	</section>
</template>

<script>
	import sudSvg from './svg'

	export default {
		data() {
			return {
				title: 'Contact us',
				subtitle: 'Feedback',
				formItems: [
					{
						id: '1',
						text: 'Find Ambassador  ',
						param: 'repre'
					},
					{
						id: '2',
						text: 'Become Ambassador',
						param: 'become'
					}
				],
				inputs: [
					{
						id: '1',
						palaceholder: 'Name',
						type: 'text',
						name: 'feedName'
					},
					{
						id: '2',
						palaceholder: 'Company',
						type: 'text',
						name: 'feedCompany'
					},
					{
						id: '3',
						palaceholder: 'Email',
						type: 'text',
						name: 'feedEmail',
						pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,5}$'
					},
					{
						id: '4',
						palaceholder: 'Phone',
						type: 'number',
						name: 'feedPhone'
					}
				]

			}
		},
		components: {
			sudSvg
		},
		methods: {

		}
	}
</script>
