<template>
	<section id="footer" class="footer--wrap">
		<footer class="footer">
			<p class="footer-copy text">&copy; {{text}}</p>
		</footer>
	</section>

</template>

<script>
	export default {
		data() {
			return {
				text: ' All rights reserved 2022'
			}
		}
	}
</script>
