<template>
	<section id="founder" class="founder--wrap">
		<div class="founder wrapper">

			<div class="founder__author js-animated">
				<img :src="authorImg" alt="">
			</div>

			<div class="founder__text">
				<h6 class="founder-title title js-animated">{{title}}</h6>
				<div class="founder__author js-animated">
					<img :src="authorImg" alt="">
				</div>
				<p class="founder-text text js-animated" v-for="(item, idx) in text" :key="idx">{{item}}</p>
				<a href="https://www.instagram.com/realjosephshine/" target="_blank" class="button founder-link js-animated">instagram</a>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		data() {
			return {
        authorImg: require("../img/author2.jpg"),
				title: 'Founder',
        text: [
            'Joseph Shine has been a leader in the crypto space since 2012.  He has participated in hundreds of conferences with thousands of early adapters and found that people were lost in the complexity of investing in this new environment. He founded the first Bitcoin meetup in Chicago because people needed a trusted guide who could advise them in real time and connect them with a community of investors.',
            'In response to investor frustration with traditional exchanges like Coinbase, he created Charon Coins, a crypto exchange boutique where customers receive responsive support with the latest information. He also is the founder of Blue Ocean holdings – a Crypto advisory firm, and a hedge fund focused on investing in early-stage crypto companies. Newcomers are guided in how to invest securely in crypto, and experienced investors are supported to select the most profitable solutions.',
            'While Joseph is primarily focused on servicing High Net Worth individuals, he donates his time to non-profit organizations focused on financial education in Puerto Rico where he resides. As an immigrant, he believes that financial freedom is the result of financial education and hard work. His vision is to develop a world where people have equal access to economic opportunities, assisting people from underdeveloped countries to learn about safe legal environments for investing, and helping those in established economies to safely invest in remote areas of the world.',
            'Joseph is sought after globally, as a trusted crypto advisor, and is available for public speaking and personal consulting as well as investment guidance.'
        ]
      }
		}
	}

</script>
