<template>
	<section id="header" class="header--wrap">
		<header class="header wrapper">
			<div class="header__logo"></div>
			<nav
				class="header__nav"
				v-bind:class="{active: menuActive}"
			>
				<ul>
					<li
							v-for="item in menuList"
					>
						<a
							v-bind:href="item.href"
							:key="item.id"
							@click.prevent="menuLinks(), $scrollTo(item.href)"

						>{{item.text}}</a>
					</li>
					<sud-svg></sud-svg>
				</ul>
			</nav>
			<button class="header__burger"
				@click.prevent="toggleMenu()"
					v-bind:class="{active: burgerActive, close: burgerClose}"
			>
				<span></span>
				<span></span>
				<span></span>
			</button>
		</header>
		<div class="header__content">
			<h2 class="header__content-title js-animated">{{contentTitle}}</h2>
			<h3 class="header__content-text js-animated">{{contentText}}</h3>
			<a
					href=""
					class="header__content-scroll scrollBtn js-scrollTo"
					v-scroll-to="'#challenge'"
			></a>
		</div>
	</section>
</template>

<script>
	import sudSvg from './svg'

	export default {
		data() {
			return {
				logo: 'Logo',
				menuList: [
					{
						id: 1,
						href: '#challenge',
						text: 'Challenge'
					},
					{
						id: 2,
						href: '#problem',
						text: 'Problem'
					},
					{
						id: 3,
						href: '#solution',
						text: 'Solution'
					},
					{
						id: 4,
						href: '#feedback',
						text: 'Contact'
					},
					{
						id: 5,
						href: '#founder',
						text: 'Founder'
					},
				],
				contentTitle: 'Crypto World Ambassador',
				contentText: 'Effective tool to connect crypto brands to your audience around the globe.',
				menuActive: false,
				burgerActive: false,
				burgerClose: false

			}
		},
		components: {
			sudSvg
		},
		methods: {
			toggleMenu: function () {
				this.menuActive = !this.menuActive;
				this.burgerActive = !this.burgerActive;
				document.documentElement.classList.toggle('no-scroll');
				if (!this.burgerActive) {
					this.burgerClose = !this.burgerClose;
					setTimeout(() => {
						this.burgerClose = !this.burgerClose;
					}, 500)
				}
			},
			menuLinks: function () {
				if (this.burgerActive) {
					this.toggleMenu();
				}
			},
		}
	}
</script>
