<template>
	<main id="main">
		<main-head></main-head>
		<challenge></challenge>
		<problem></problem>
		<solution></solution>
		<feedback></feedback>
		<founder></founder>
<!--		<advisors></advisors>-->
		<div class="founder__question">
			<p style="padding: 40px 0 20px" class="subtitle text-center">Do you have questions about crypto or blockchain?</p>
			<p class="text text-center">Get professional consultation from licensed experts and leaders of the industry!</p>

			<form
				class="feedback__form"
				style="margin: 45px auto 0"
				@submit.prevent="$store.dispatch('sendForm','founder')"

			>
				<label
					v-for="item in inputs"
					class="mainlabel js-animated"
				>
					<input
						@input="$store.dispatch('filledInput')"
						v-bind:type="item.type"
						:key="item.id"
						v-bind:name="item.name"
						required
						autocomplete="off"
						v-bind:pattern="item.pattern"
					>
					<span>{{item.palaceholder}}</span>
				</label>
				<button
					class="button js-animated"
					type="submit"
				>Send</button>
			</form>
		</div>
		<main-footer></main-footer>
		<a
			href="" class="toTop"
			v-bind:class="{active: this.classToTop}"
			v-scroll-to="'#header'"
		></a>
	</main>
</template>

<script>
	import mainHead from './header'
	import challenge from './challenge'
	import problem from './problem'
	import solution from './solution'
	import feedback from './feedback'
	import founder from './founder'
	import mainFooter from './footer'
	import advisors from './advisors'

	global.THREE = require('three/build/three.min');
	const render = require('three/examples/js/renderers/CanvasRenderer');
	const projector = require('three/examples/js/renderers/Projector');


	export default {
		data() {
			return {
				el: "#main",
				classToTop: false,
				inputs: [
					{
						id: '1',
						palaceholder: 'Name',
						type: 'text',
						name: 'founderName'
					},
					{
						id: '3',
						palaceholder: 'Email',
						type: 'text',
						name: 'founderEmail',
						pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,5}$'
					},
					{
						id: '4',
						palaceholder: 'Phone',
						type: 'number',
						name: 'founderPhone'
					}
				]
			}
		},
		components: {
			mainHead,
			challenge,
			problem,
			solution,
			feedback,
			founder,
			mainFooter,
			advisors

		},
		methods: {

		},
		mounted() {

			// three
			{
				var SEPARATION = 200, AMOUNTX = 30, AMOUNTY = 30;

				var container;
				var camera, scene, renderer;

				var particles, particle, count = 0;

				var mouseX = 100, mouseY = -550;

				var windowHalfX = window.innerWidth / 2;
				var windowHalfY = window.innerHeight / 2;

				init();
				animate();

				function init() {

					container = document.createElement('div');
					document.body.appendChild(container);

					camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 10000);
					camera.position.z = 1600;

					scene = new THREE.Scene();

					particles = new Array();

					var PI2 = Math.PI * 2;
					var material = new THREE.SpriteCanvasMaterial({

						color: 0xffffff,

						program: function (context) {

							context.beginPath();
							renderer.setClearColor( 0x08091b, 1 );
							context.arc(0, 0, 0.5, 0, PI2, true);

							context.fill();

						}

					});

					var i = 0;

					for (var ix = 0; ix < AMOUNTX; ix++) {

						for (var iy = 0; iy < AMOUNTY; iy++) {

							particle = particles[i++] = new THREE.Sprite(material);
							particle.position.x = ix * SEPARATION - ((AMOUNTX * SEPARATION) / 2);
							particle.position.z = iy * SEPARATION - ((AMOUNTY * SEPARATION) / 2);
							scene.add(particle);

						}

					}

					renderer = new THREE.CanvasRenderer();
					renderer.setPixelRatio(window.devicePixelRatio);
					renderer.setSize(window.innerWidth, window.innerHeight);
					container.appendChild(renderer.domElement);

					window.addEventListener( 'resize', onWindowResize, false );

					//

				}

				function onWindowResize() {

					windowHalfX = window.innerWidth / 2;
					windowHalfY = window.innerHeight / 2;

					camera.aspect = window.innerWidth / window.innerHeight;
					camera.updateProjectionMatrix();

					renderer.setSize(window.innerWidth, window.innerHeight);

				}


				function animate() {

					requestAnimationFrame(animate);

					render();

				}

				function render() {

					camera.position.x += (mouseX - camera.position.x) * .05;
					camera.position.y += (-mouseY - camera.position.y) * .05;
					camera.lookAt(scene.position);

					var i = 0;

					for (var ix = 0; ix < AMOUNTX; ix++) {

						for (var iy = 0; iy < AMOUNTY; iy++) {

							particle = particles[i++];
							particle.position.y = (Math.sin((ix + count) * 0.3) * 50) +
								(Math.sin((iy + count) * 0.5) * 50);
							particle.scale.x = particle.scale.y = (Math.sin((ix + count) * 0.3) + 1) * 4 +
								(Math.sin((iy + count) * 0.5) + 1) * 4;

						}

					}

					renderer.render(scene, camera);

					count += 0.1;

				}
			}

			//  animation
			{
				const animated = document.querySelectorAll('.js-animated');

				const animateq = elem => {
					[].forEach.call(elem, el => {
						const clientHeight = document.documentElement.clientHeight;
						const pointerGetY = clientHeight - 50;
						const getY = el.getBoundingClientRect().y;

						if (pointerGetY > getY) {
							el.classList.add('animate');
						}
					})
				}

				window.addEventListener('scroll', () => {
					animateq(animated);
				});

				animateq(animated);
			}

			//	to top
			{
				window.addEventListener('scroll', () => {

					if (document.documentElement.getBoundingClientRect().y < -200) {
						this.classToTop = true
					} else {
						this.classToTop = false
					}
				})
			}

			setTimeout(function () {
				scrollTo(0,0)
			}, 821)

		}

	}
</script>