<template>
	<section id="problem" class="problem--wrap">
		<sud-svg></sud-svg>
		<div class="problem-title title js-animated">{{title}}</div>
		<div class="problem wrapper">
			<div
				class="problem__row"
				v-for="item in problems"
				:key="item.id"
			>
				<div class="problem__row__content">
					<p class="problem__row__content-text text  js-animated">{{item.text}}</p>
				</div>
				<figure class="problem__row-img  js-animated">
					<img :src="item.img" alt="">
				</figure>
			</div>

		</div>
	</section>
</template>

<script>
	import sudSvg from './svg'

	export default {
		data() {
			return {
				title: 'Problem',
				problems: [
					{
						id: '1',
						text: 'Do you want to market your brand but you don’t know where to start?',
						img: require('../img/time_1.png')
					},
					{
						id: '2',
						text: 'Do you spend too much time and money participating in conferences, meetups, meetings instead of working on your project?',
						img: require('../img/time_2.png')
					},
					{
						id: '3',
						text: 'Do you know how to reach right audience and key players in new city or country?',
						img: require('../img/time_3.png')
					}
				]

			}
		},
		components: {
			sudSvg
		}
	}
</script>
