<template>
	<section class="fillform--wrap">
		<h6 class="fillform-title title">{{title}}</h6>
		<form
			class="fillform wrapper"
			@submit.prevent="$store.dispatch('sendForm','find')"
		>
			<div
				class="fillform-group mainlabel"
				v-for="item in inputs"
			>
				<h4 class="text">{{item.palaceholder}}</h4>
				<input
						v-bind:type="item.type"
						:key="item.id"
						v-bind:name="item.name"
						required
						autocomplete="off"
						v-bind:pattern="item.pattern"
				>
			</div>
			<div class="fillform-group">
				<h4 class="text">{{area.paleceholder}}</h4>
				<textarea
						v-bind:name="area.name"
						required
						rows="7"
				></textarea>
			</div>
			<div class="fillform-buttons">
				<button class="button">Submit</button>
				<button
					class="button"
					@click.prevent="$store.commit('showPage', 'main')"
				>Go Back</button>
			</div>

		</form>

		<sud-svg></sud-svg>
	</section>
</template>

<script>
	import sudSvg from './svg'

	export default {
		data() {
			return {
				el: '#fillform',
				title: 'Find Ambassador',
				inputs: [
					{
						id: '1',
						palaceholder: 'Company name:',
						type: 'text',
						name: 'FindCompany',
					},
					{
						id: '2',
						palaceholder: 'City where you looking for the ambassador:',
						type: 'text',
						name: 'FindCity',
					},
					{
						id: '3',
						palaceholder: 'Contact phone:',
						type: 'number',
						name: 'FindTel',
					},
					{
						id: '4',
						palaceholder: 'Contact email:',
						type: 'email',
						name: 'FindEmail',
						pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,5}$'
					}
				],
				area: {
					paleceholder: 'Some additional information:',
					name: 'FindInfo'
				}

			}
		},
		components: {
			sudSvg
		},
		mounted() {
			setTimeout(function () {
				scrollTo(0,0)
			}, 821)
		}
	}
</script>
