<template>
	<section id="solution" class="solution--wrap">
		<div class="solution">
			<div class="solution__head wrapper">
				<h6 class="title  js-animated">{{title}}</h6>
				<a
					href=""
					class="scrollBtn"
					v-scroll-to="'#solution'"
				></a>
			</div>
			<div class="solution__item--wrap">
				<div
					class="solution__item wrapper"
					v-for="item in solutions"
					:key="item.id"
				>
					<div class="solution__item-title subtitle  js-animated">{{item.title}}</div>
					<div class="solution__item-text text js-animated">{{item.text}}</div>
					<div
						v-html="item.icon"
						class="solution__item-icon "
					></div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>

	export default {
		data() {
			return {
				title: 'Solution',
				solutions: [
					{
						id: '1',
						title: 'Сommunity leaders',
						text: 'Connect to community leaders who understand local culture and know what is the most effective way to market your message.',
						icon: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\n' +
							'\t viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">\n' +
							'<path style="fill:#E4EAF6;" d="M397.242,370.759H264.975v-70.336c0-4.875-3.948-8.828-8.828-8.828c-4.879,0-8.828,3.953-8.828,8.828\n' +
							'\tv70.336H114.759c-24.337,0-44.138,19.801-44.138,44.138v52.966c0,4.875,3.948,8.828,8.828,8.828s8.828-3.953,8.828-8.828v-52.966\n' +
							'\tc0-14.603,11.88-26.483,26.483-26.483h132.561v79.448c0,4.875,3.948,8.828,8.828,8.828c4.879,0,8.828-3.953,8.828-8.828v-79.448\n' +
							'\th132.267c14.603,0,26.483,11.88,26.483,26.483v52.966c0,4.875,3.948,8.828,8.828,8.828c4.879,0,8.828-3.953,8.828-8.828v-52.966\n' +
							'\tC441.38,390.561,421.578,370.759,397.242,370.759z"/>\n' +
							'<polygon style="fill:#E6AF78;" points="302.933,213.822 302.933,177.319 209.067,177.319 209.067,213.822 256,255.54 "/>\n' +
							'<path style="fill:#707487;" d="M375.503,230.897l-64.529-15.183c-0.974-0.23-1.87-0.618-2.71-1.09L256,245.111l-50.227-31.962\n' +
							'\tc-1.3,1.224-2.914,2.134-4.747,2.566l-64.529,15.183c-9.422,2.217-16.082,10.625-16.082,20.305v40.842\n' +
							'\tc0,5.76,4.67,10.43,10.43,10.43h250.31c5.76,0,10.43-4.67,10.43-10.43v-40.842C391.584,241.522,384.925,233.114,375.503,230.897z"/>\n' +
							'<path style="fill:#D29B6E;" d="M209.067,177.319v38.514c59.123,21.301,93.866-32.011,93.866-32.011v-6.504h-93.866V177.319z"/>\n' +
							'<path style="fill:#F0C087;" d="M188.208,57.379l4.544,99.975c0.425,9.34,5.004,18.001,12.483,23.61l21.561,16.171\n' +
							'\tc5.416,4.062,12.003,6.258,18.773,6.258h20.86c6.77,0,13.357-2.196,18.773-6.258l21.561-16.171\n' +
							'\tc7.479-5.61,12.058-14.27,12.483-23.61l4.544-99.975H188.208z"/>\n' +
							'<path style="fill:#E6AF78;" d="M240.356,78.238c20.86,0,52.148-5.215,59.569-20.86H188.208l4.544,99.975\n' +
							'\tc0.425,9.34,5.004,18.001,12.483,23.61l21.561,16.171c5.416,4.062,12.003,6.258,18.773,6.258H256\n' +
							'\tc-10.43,0-31.288-20.86-31.288-46.933c0-12.753,0-46.933,0-62.578C224.712,88.668,229.927,78.238,240.356,78.238z"/>\n' +
							'<g>\n' +
							'\t<path style="fill:#5B5D6E;" d="M353.301,268.629l33.791-30.355c2.831,3.585,4.492,8.097,4.492,12.927v40.842\n' +
							'\t\tc0,5.76-4.67,10.43-10.43,10.43h-36.503v-14.446C344.651,280.626,347.796,273.575,353.301,268.629z"/>\n' +
							'\t<path style="fill:#5B5D6E;" d="M158.699,268.629l-33.791-30.355c-2.831,3.585-4.492,8.097-4.492,12.927v40.842\n' +
							'\t\tc0,5.76,4.67,10.43,10.43,10.43h36.503v-14.446C167.349,280.626,164.204,273.575,158.699,268.629z"/>\n' +
							'\t<polygon style="fill:#5B5D6E;" points="269.038,302.473 242.963,302.473 246.223,255.54 265.778,255.54 \t"/>\n' +
							'</g>\n' +
							'<path style="fill:#515262;" d="M269.038,245.111h-26.073v5.774c0,5.451,4.418,9.869,9.869,9.869h6.335\n' +
							'\tc5.451,0,9.869-4.418,9.869-9.869V245.111z"/>\n' +
							'<g>\n' +
							'\t<path style="fill:#5B5D6E;" d="M208.335,202.212L256,245.111c0,0-13.348,6.739-29.822,20.321\n' +
							'\t\tc-3.399,2.802-8.538,1.666-10.361-2.343l-22.394-49.267l7.084-10.626C202.271,200.55,205.971,200.084,208.335,202.212z"/>\n' +
							'\t<path style="fill:#5B5D6E;" d="M303.666,202.212L256,245.111c0,0,13.348,6.739,29.822,20.321c3.399,2.802,8.538,1.666,10.361-2.343\n' +
							'\t\tl22.395-49.267l-7.084-10.626C309.729,200.55,306.028,200.084,303.666,202.212z"/>\n' +
							'</g>\n' +
							'<path style="fill:#785550;" d="M287.615,22.831l4.889,34.548c22.316,4.463,25.533,39.485,25.996,49.489\n' +
							'\tc0.084,1.815,0.664,3.569,1.649,5.096l8.514,13.208c0,0-2.914-21.837,10.43-36.503C339.092,88.668,343.674,1.972,287.615,22.831z"/>\n' +
							'<path style="fill:#F0C087;" d="M333.894,122.939l-5.889,23.556c-0.697,2.791-3.206,4.749-6.082,4.749l0,0\n' +
							'\tc-3.161,0-5.828-2.355-6.221-5.492l-3.011-24.093c-0.806-6.443,4.218-12.134,10.711-12.134h0.021\n' +
							'\tC330.444,109.527,335.598,116.126,333.894,122.939z"/>\n' +
							'<path style="fill:#694B4B;" d="M193.205,13.488l7.713,5.269c-34.873,25.748-28.355,69.91-28.355,69.91\n' +
							'\tc10.43,10.43,10.43,36.503,10.43,36.503l10.43-10.43c0,0-4.025-30.127,15.645-41.718c18.252-10.755,34.222-5.215,50.518-5.215\n' +
							'\tc43.673,0,55.896-16.459,53.778-36.503C312.266,20.933,296.41-0.67,256,0.016C239.692,0.294,209.067,5.231,193.205,13.488z"/>\n' +
							'<path style="fill:#5A4146;" d="M190.164,63.246c0,0-5.54-21.837,10.755-44.489c-34.873,25.748-28.355,69.91-28.355,69.91\n' +
							'\tc10.43,10.43,10.43,36.503,10.43,36.503l10.43-10.43c0,0-4.025-30.127,15.645-41.718c18.252-10.755,34.222-5.215,50.518-5.215\n' +
							'\tc7.103,0,13.292-0.476,18.805-1.291C244.756,67.645,224.929,42.169,190.164,63.246z"/>\n' +
							'<path style="fill:#E6AF78;" d="M178.107,122.939l5.889,23.556c0.697,2.791,3.206,4.749,6.082,4.749l0,0\n' +
							'\tc3.161,0,5.828-2.355,6.221-5.492l3.011-24.093c0.806-6.443-4.218-12.134-10.711-12.134h-0.021\n' +
							'\tC181.556,109.527,176.403,116.126,178.107,122.939z"/>\n' +
							'<path style="fill:#5B5D6E;" d="M320.859,292.044h-30.636c-4.5,0-8.149,3.648-8.149,8.149v2.281h46.933v-2.281\n' +
							'\tC329.007,295.692,325.359,292.044,320.859,292.044z"/>\n' +
							'<path style="fill:#FFD782;" d="M291.311,512.001H220.69c-4.875,0-8.828-3.953-8.828-8.828v-35.31c0-4.875,3.953-8.828,8.828-8.828\n' +
							'\th70.621c4.875,0,8.828,3.953,8.828,8.828v35.31C300.138,508.048,296.186,512.001,291.311,512.001z"/>\n' +
							'<path style="fill:#FFC36E;" d="M273.655,494.345h-35.31c-4.875,0-8.828-3.953-8.828-8.828l0,0c0-4.875,3.953-8.828,8.828-8.828\n' +
							'\th35.31c4.875,0,8.828,3.953,8.828,8.828l0,0C282.483,490.393,278.53,494.345,273.655,494.345z"/>\n' +
							'<path style="fill:#C3E678;" d="M467.862,512.001h-70.621c-4.875,0-8.828-3.953-8.828-8.828v-35.31c0-4.875,3.953-8.828,8.828-8.828\n' +
							'\th70.621c4.875,0,8.828,3.953,8.828,8.828v35.31C476.69,508.048,472.737,512.001,467.862,512.001z"/>\n' +
							'<path style="fill:#A5D76E;" d="M450.207,494.345h-35.31c-4.875,0-8.828-3.953-8.828-8.828l0,0c0-4.875,3.953-8.828,8.828-8.828\n' +
							'\th35.31c4.875,0,8.828,3.953,8.828,8.828l0,0C459.035,490.393,455.082,494.345,450.207,494.345z"/>\n' +
							'<path style="fill:#FF6464;" d="M114.759,512.001H44.138c-4.875,0-8.828-3.953-8.828-8.828v-35.31c0-4.875,3.953-8.828,8.828-8.828\n' +
							'\th70.621c4.875,0,8.828,3.953,8.828,8.828v35.31C123.586,508.048,119.634,512.001,114.759,512.001z"/>\n' +
							'<path style="fill:#D2555A;" d="M97.104,494.345h-35.31c-4.875,0-8.828-3.953-8.828-8.828l0,0c0-4.875,3.953-8.828,8.828-8.828h35.31\n' +
							'\tc4.875,0,8.828,3.953,8.828,8.828l0,0C105.931,490.393,101.979,494.345,97.104,494.345z"/>\n' +
							'</svg>\n'
					},
					{
						id: '2',
						title: 'Budget savings',
						text: 'Save on marketing budget. Hire local Ambassador who will promote your project at minimal cost or based on commissions.',
						icon: '<svg viewBox="-4 0 472 472.00267" xmlns="http://www.w3.org/2000/svg"><path d="m256.875 378.914062-32.875-6.910156v-40l32.875-6.914062c3.269531-.6875 5.984375-2.96875 7.222656-6.074219 1.242188-3.105469.847656-6.625-1.046875-9.382813l-19.050781-27.628906 10.664062-10.664062c-11.941406-11.570313-24.546874-22.441406-37.742187-32.5625-5.632813-4.378906-12.5625-6.761719-19.695313-6.773438h-5.226562l56-72-64 16 16-40-56 24-48-32 16 40-56-16 56 80h-5.230469c-7.097656.003906-13.992187 2.359375-19.609375 6.703125-31.808594 24.558594-87.160156 72.414063-87.160156 121.296875 0 83.941406 68.058594 104 152 104 43.929688 0 83.386719-5.601562 111.128906-22.875l-19.128906-19.125 19.050781-27.601562c1.910157-2.757813 2.3125-6.285156 1.070313-9.402344-1.242188-3.117188-3.964844-5.402344-7.246094-6.085938zm0 0" fill="#ffb41f"/><path d="m152 368.003906h24v-16h-16v-8h-16v9.472656c-11.011719 3.875-17.621094 15.132813-15.640625 26.640626 1.976563 11.503906 11.964844 19.90625 23.640625 19.886718 4.417969 0 8 3.582032 8 8 0 4.417969-3.582031 8-8 8h-24v16h16v8h16v-9.472656c11.015625-3.878906 17.621094-15.136719 15.644531-26.640625-1.980469-11.507813-11.96875-19.910156-23.644531-19.886719-4.417969 0-8-3.582031-8-8 0-4.417968 3.582031-8 8-8zm0 0" fill="#ffdb94"/><path d="m336 121.15625h16v110.847656h-16zm0 0" fill="#0f687a"/><path d="m288 120.003906c0-66.273437 25.074219-119.99999975 56-119.99999975-34.683594-.23437525-67.746094 14.65234375-90.566406 40.77343775-22.820313 26.121094-33.128906 60.886718-28.242188 95.226562 8.320313-8.382812 19.632813-13.109375 31.441406-13.136718 11.808594-.027344 23.140626 4.648437 31.496094 12.992187-.328125-5.25-.128906-10.417969-.128906-15.855469zm0 0" fill="#74d5e8"/><path d="m344 .00390625c30.929688 0 56 53.72656275 56 119.99999975 0 5.4375.203125 10.605469-.125 15.855469 8.355469-8.34375 19.6875-13.019531 31.496094-12.992187 11.808594.027343 23.121094 4.753906 31.4375 13.136718 4.890625-34.339844-5.421875-69.105468-28.238282-95.226562-22.820312-26.121094-55.886718-41.007813-90.570312-40.77343775zm0 0" fill="#74d5e8"/><g fill="#1cc8eb"><path d="m400 120.003906c0-66.273437-25.070312-119.99999975-56-119.99999975-30.925781 0-56 53.72656275-56 119.99999975 0 5.4375-.199219 10.605469.128906 15.855469 34.613282-19.808594 77.128906-19.808594 111.746094 0 .328125-5.25.125-10.417969.125-15.855469zm0 0"/><path d="m431.128906 378.914062 32.871094-6.910156v-40l-32.871094-6.914062c-3.273437-.6875-5.984375-2.96875-7.226562-6.074219-1.238282-3.105469-.84375-6.625 1.050781-9.382813l19.046875-27.628906-30-30-27.597656 19.046875c-2.753906 1.894531-6.277344 2.289063-9.382813 1.050781-3.105469-1.242187-5.386719-3.953124-6.074219-7.226562l-6.945312-32.871094h-40l-6.910156 32.871094c-.691406 3.273438-2.96875 5.984375-6.074219 7.226562-3.105469 1.238282-6.628906.84375-9.382813-1.050781l-27.632812-19.046875-30 30 19.050781 27.597656c1.894531 2.757813 2.289063 6.277344 1.046875 9.382813-1.238281 3.105469-3.953125 5.386719-7.222656 6.074219l-32.875 6.945312v40l32.875 6.910156c3.269531.691407 5.984375 2.96875 7.222656 6.074219 1.242188 3.105469.847656 6.628907-1.046875 9.382813l-19.050781 27.632812 19.128906 19.125 10.871094 10.875 27.601562-19.050781c2.753907-1.898437 6.277344-2.296875 9.382813-1.054687 3.109375 1.242187 5.386719 3.957031 6.074219 7.230468l6.941406 32.875h40l6.914062-32.875c.683594-3.273437 2.964844-5.988281 6.070313-7.230468 3.109375-1.242188 6.632813-.84375 9.386719 1.054687l27.628906 19.050781 30-30-19.046875-27.601562c-1.910156-2.757813-2.3125-6.285156-1.070313-9.402344 1.242188-3.117188 3.964844-5.402344 7.246094-6.085938zm-87.128906 21.089844c-26.507812 0-48-21.492187-48-48 0-26.511718 21.492188-48 48-48 26.511719 0 48 21.488282 48 48 0 26.507813-21.488281 48-48 48zm0 0"/></g></svg>'
					}
				]
			}
		}
	}

</script>
