<template>
	<div class="successfully">
		<h5 class="subtitle">{{subtitle}}</h5>
		<p class="text">{{text}}</p>
		<button
				class="button"
				@click.prevent="$store.dispatch('hideSucces')"
		>
			Ok
		</button>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				subtitle: 'Thank you!',
				text: 'We will contact with you shortly.'
			}
		}
	}
</script>
